* {
    box-sizing: border-box;
}

.container {
    display:flex;
    justify-content: center;
   
}

.sidebar {
    display:flex;
    justify-content: right;
    align-items:flex-end;
    flex-direction:column;
    width:15%;
    background-color:azure;
    border-right: 5px solid cadetblue;

}

#aboutme-side {
    margin-top:50px;
    margin-bottom: 100px;
    padding:20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:200%;
}

#work-side {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top:250px;
    font-size:200%;
    padding:20px;

}

#contactme-side {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200%;
    padding:20px;
    margin-top: 900px;
    text-align: right;
}


.main-content {
    width:85%;
    margin-left: -150px;
}

.about-me {
    display:flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-content:space-between;
    margin-top: 75px;
    margin-left: 200px;

    
}

#about-me-image {
    object-fit: cover;
    height: 350px;
    padding: 5px;
    background-color: cadetblue;
    margin-left:100px;
   
}

#about-me-text {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 30px;
    font-size: 120%;
    margin-bottom: -50px;

}

body {
    margin-right:20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:azure;
    /*justify-content: flex-start;*/
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 50px;
    margin-top: 50px;
    margin-left: 50px;
  
}



img {
    width: 250px;
    height: 150px;
    object-fit: fill;
    border: 3px;
    border-style: solid;
    border-color: white;
}



.text-over-image {
    position:absolute;
    font-size: 150%;
    margin-left: 8px;
}

#sean-bailey2 {
    height: 400px;
    width: 800px;
    object-fit: cover;
    padding: 5px;
    background-color: cadetblue;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> cdde34b4c3d96ad7a3f826c2cff8c71a4cf9347d
#sean-bailey2:hover {
    background-color: palegreen;
}

<<<<<<< HEAD
=======
=======
>>>>>>> 9c0561890cbaf4e0fec3a8d42b2207cc39fe502e
>>>>>>> cdde34b4c3d96ad7a3f826c2cff8c71a4cf9347d
.sbDiv {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items:flex-end;
    margin-right: 100px;
    margin-top: 70px;
    margin-left:100px;

}

<<<<<<< HEAD
.smaller-image:hover {
    background-color: palegreen;
}
=======
<<<<<<< HEAD
.smaller-image:hover {
    background-color: palegreen;
}
=======
>>>>>>> 9c0561890cbaf4e0fec3a8d42b2207cc39fe502e
>>>>>>> cdde34b4c3d96ad7a3f826c2cff8c71a4cf9347d

.smaller-image {
    width: 400px;
    height: 275px;
    object-fit: cover;
    padding: 5px;
    background-color: cadetblue;
    
}
h1 {
    margin-left:50px;
    margin-right: 1500px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 250%;
    font-weight: bold;
    padding:0;
    background-color:cadetblue;
    

}

header{
    background-image: url(https://images.squarespace-cdn.com/content/v1/547b278ee4b09bed66b3d94b/1470427386607-3M6LQAGTTX9P4QPDJCDL/image-asset.jpeg);
    height: 350px;
    background-repeat: no-repeat;
    background-size:cover;
    margin-left: 5px;
}





/*.whatever {
    width: 100vw;
    padding: 0px 100px;
    display: flex;
    flex-wrap: wrap;
    
}*/

.row-jerome {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 100px;
}

a {
    color:indianred;
    text-decoration: none;
}


#contact {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:indianred;
    text-align: left;
    margin-right: 20px;
}

h3 {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    background-color: cadetblue;
    margin-bottom:3px;
    
    
}

#header-name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:indianred;
    margin-right: 500px;
    margin-left: 0px;
    font-size: 200%;
    /*background-color: cadetblue;*/
}

.nav-head {
    display: flex;
    background-color:gainsboro;
    justify-content: right;
    border-bottom: 10px solid cadetblue;
    border-top: 10px solid cadetblue;
    margin-left:5px;
    margin-right:0px;
    margin-bottom: 10px;
}

#namehead {
    color: indianred;
    padding-right: 850px;
    
  
    
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> cdde34b4c3d96ad7a3f826c2cff8c71a4cf9347d
li:hover {
    background-color:mediumspringgreen;
}

  ul, li {
<<<<<<< HEAD
=======
=======
ul, li {
>>>>>>> 9c0561890cbaf4e0fec3a8d42b2207cc39fe502e
>>>>>>> cdde34b4c3d96ad7a3f826c2cff8c71a4cf9347d
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;

}


.foot-style {
    margin-top: 75px;
    background-color: azure;
    font-size:120%;
    justify-content: right;
    margin-right:150px;
    margin-left:150px;
    text-decoration: underline;
}

@media screen and (max-width: 1189px) {
    #sean-bailey2 {
        width: 400px;
        height: 275px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> cdde34b4c3d96ad7a3f826c2cff8c71a4cf9347d
    }
    #work {
        flex-direction: column;
        margin-left:200px;
    }
    .about-me {
        flex-direction: column-reverse;
        font-size: 75%;
        justify-content: flex-end;
    }
<<<<<<< HEAD
}
=======
>>>>>>> cdde34b4c3d96ad7a3f826c2cff8c71a4cf9347d
 
    @media screen and (max-width: 820px) {
        #sean-bailey2 {
            width: 400px;
            height: 275px;
            justify-content: center;
        }
        
        .sbDiv {
            margin-left:auto;
        }
        
        #work {
            flex-direction: column;
            margin-left:auto;
            margin-right:-75px
        }
        .about-me {
            flex-direction: column-reverse;
            font-size: 75%;
            margin-top: -1px;
            margin-bottom: 1px;
        }
        #about-me-text {
            margin-right:-80px;
            margin-left:-20px;
        }

        #contact-me {
            margin-left: 250x;
            margin-right: -220px;
            font-size: 80%;
        }

        #contactme-side {
           margin-top: 1300px;

        }
<<<<<<< HEAD
    }
=======
>>>>>>> cdde34b4c3d96ad7a3f826c2cff8c71a4cf9347d

        @media screen and (max-width: 414px) {
            .sidebar {
                width:5%;
            }
            
            .nav-head {
                margin-right: -40px;
                margin-left: -10px;
                font-size: 80%;
                height:150px
            }
            
            header {
                line-height: 50px;
                font-size: 60%;
                margin-right: -35px;
                margin-left: -20px;
                margin-bottom: -150px;
                margin-top: -15px;
            }

            #about-me-image {
                height: 150px;
                margin-left: -25px;
            }

            #sean-bailey2 {
                width: 250px;
                height: 150px;
                justify-content: center;
            }
            
            .smaller-image {
                width: 250px;
                height: 150px;
            }

            .text-over-image {
                font-size: 80%;
            }
            
            .sbDiv {
                margin-left:auto;
            }
            
            #work {
                flex-direction: column;
                margin-left:auto;
                margin-right:-165px
            }
            .about-me {
                flex-direction: column-reverse;
                font-size: 75%;
                margin-top: -1px;
                margin-bottom: 1px;
            }
            #about-me-text {
                margin-right:-80px;
                margin-left:-20px;
            }
    
            #contact-me {
                margin-left: 100px;
                margin-right: -220px;
                font-size: 80%;
                padding: -2px;
                align-items: left;
            }

    
            #contactme-side {
               margin-top: 700px;
               font-size: 120%;
    
            }

            #work-side {
                font-size: 120%;
            }

            #aboutme-side {
                font-size: 120%;
            }

            .main-content {
                width:95%;
            }
   

  }
<<<<<<< HEAD
=======
=======
    }
    .row-jerome {
        flex-direction: column;
    }

  }
>>>>>>> 9c0561890cbaf4e0fec3a8d42b2207cc39fe502e
>>>>>>> cdde34b4c3d96ad7a3f826c2cff8c71a4cf9347d
