* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*justify-content: flex-start;*/
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}

section {
    display:block;   
    flex-wrap:wrap;
    flex-direction:column;
}

#sean-bailey {
    width: 1000px;
}

img {
    width: 250px;
    height: 250px;
    object-fit: fill;
}

.bigger-image {
    width: 1000px;
    height:750px;
    background-image: url("https://climbingaway.fr/photos_grimpeurs/1033/smart/Sans_titre.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.smaller-image {
    width: 500px;
    height: 250px;
    object-fit: fill;
}

header{
    background-color: gray;
    border-bottom: 10px solid rgb(105, 174, 117);
    line-height: 100px;
    text-align: center;
}

h1 {
    background-color: gray;
}

.about-me {
    display: flex;
}

.section-format {
    display:flex 50%;
    flex-wrap:wrap;
    flex-direction:column;
    align-content:space-between;
    padding: 20px;
    align-items:center;
    border-style: solid;
    border-width: 2px;
}

.row {
    display: flex;
}

.whatever {
    width: 100vw;
    padding: 0px 100px;
    /* background-color: #fcf; */
}

.row-jerome {
    width: 100%;
    display: flex;
    align-content: space-between;
}

a {
    color:darksalmon;
    background-color: rgb(52, 52, 99);
    text-decoration: none;
}

nav {
    display: flex;
    color: rgb(52, 52, 99);
    background-color: rgb(52, 52, 99);
    justify-content: right;
    border-bottom: 10px solid rgb(105, 174, 117);
}

ul, li {
    display: flex;
    margin-right: 10px;
    padding: 10px;
    background-color: rgb(52, 52, 99);

}
@media screen and (max-width: 992px) {
    .column {
      width: 100%;
    }
  }
